<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>Form</title>
</head>

<body class="body">
    <form class="form" action="/home/students/aacosta/aacosta.fvi-grad.com/public_html/resume" method="POST">
        <img src="" alt="not found">
        <h1 class='name'>Adrian Acosta</h1>
        <input type="hidden" name="html-file" value="/home/students/aacosta/aacosta.fvi-grad.com/piblic_html/resume">
        <input class='from' type="text" placeholder="From" name='from'>
        <input class='destination' type="text" placeholder="Destination Email" name='destination'>
        <input class='subject' type="text" placeholder="Subject" name="subject">
        <button class='btn'>Send</button>
    </form>

</body>

</html>
